body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}

.btn-success{
    margin-bottom: 15px;
    float: right;
}

.media-object{
    width: 40px;
    height: 40px;
}

.media-body{
    padding-top: 10px;
}
/*在index页面不起作用*/
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.edit-menu{
    color: #999;
    font-size:13px
}

.jumbotron{
    margin: 80px;
}

.comment{
    margin: 15px 0;
}

.comment-menu{
    color: #999999;
    margin-top: 5px;
}

.comment-menu .icon{
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
}

.comment-menu .icon:hover{
    color: #499ef3;
}

.comment-cut{
    margin: 5px;
}

.comment-list{
    padding: 14px 20px;
    border-bottom: 1px solid #f5f5f5;
}

.commentViewer{
    margin-top: 10px;
}